nbproject
._*
.vagrant
.vagrant/
.~lock.*
.buildpath
.DS_Store
.idea
.idea/
.project
.settings
vendor/

__tests__/*
!__tests__/.gitkeep

data/cache/*
!data/cache/.gitkeep
data/cache_test/*
!data/cache_test/.gitkeep
data/DoctrineMongoODMModule/Hydrator/*
!data/DoctrineMongoODMModule/Hydrator/.gitkeep
data/DoctrineMongoODMModule/Logging/*
!data/DoctrineMongoODMModule/Logging/.gitkeep
data/DoctrineMongoODMModule/PersistentCollection/*
!data/DoctrineMongoODMModule/PersistentCollection/.gitkeep
data/DoctrineMongoODMModule/Proxy/*
!data/DoctrineMongoODMModule/Proxy/.gitkeep
data/logs/*
!data/logs/.gitkeep

config/development.config.php
.phpunit.result.cache
public/img/captcha/*
!public/img/captcha/.gitkeep


.scannerwork
!.scannerwork/.gitkeep

public/.htaccess

/Jenkinsfile
/JenkinsfileSimple
/jenkins.mongod.conf.orig
/jenkins.my.cnf
/jenkins.php.ini
/JenkinsEntrypoint.sh
/JenkinsMongo.Dockerfile
/JenkinsMysql.Dockerfile
/JenkinsPhp.Dockerfile
/JenkinsRedis.Dockerfile