<?php
/**
 * This file is part of the Simple Web Demo Free Lottery Management Application.
 *
 * This project is no longer maintained.
 * The project is written in Laminas Framework Release.
 *
 * @link https://github.com/scorpion3dd
 * @author Denis Puzik <scorpion3dd@gmail.com>
 * @copyright Copyright (c) 2021-2022 scorpion3dd
 */

declare(strict_types=1);

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

use Doctrine\DBAL\Driver\PDOMySql\Driver as PDOMySqlDriver;

return [
    'app' => [
            'count_users' => 400,
            'count_logs' => 10
        ],
    'smtp' => [
        'name'              => 'localhost.localdomain',
        'host'              => '127.0.0.1',
        'port'              => 25,
        'connection_class'  => 'plain',
        'connection_config' => [
            'username' => '<user>',
            'password' => '<pass>',
        ],
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => PDOMySqlDriver::class,
                'params' => [
                    'host'     => '127.0.0.1',
                    'user'     => 'laminas_mvc_demo',
                    'password' => 'laminas_mvc_demo123',
                    'dbname'   => 'laminas_mvc_demo',
                ]
            ],
            'odm_default' => [
                'server'           => 'localhost',
                'port'             => '27017',
                'connectionString' => null,
                'user'             => null,
                'password'         => null,
                'dbname'           => 'laminas_mvc_demo',
                'options'          => []
            ],
        ],
        /**
         * Caching doctrine may be in:
         * - filesystem
         * - redis
         * - or can disable
         */
         'cache' => [
             'redis' => [
                 'namespace' => 'Db_Doctrine',
                 'instance'  => 'User\Db\Cache\Redis',
             ],
         ],
        'configuration' => [
            'orm_default' => [
                'query_cache'       => 'redis',
                'result_cache'      => 'redis',
                'metadata_cache'    => 'filesystem',
                'hydration_cache'   => 'filesystem',
            ],
            'odm_default' => [
                'metadata_cache'    => 'filesystem',
            ],
        ]
    ],
    'service_manager' => [
        'factories' => [
            'User\Db\Cache\Redis' => User\Db\Cache\RedisFactory::class,
        ],
    ],
];
